# Configurações do ambiente
.env

# Configurações de ferramentas
.prettierrc.json
.prettierignore
.eslintrc*
eslint.config.mjs

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
vite.svg
vite.config.js
test.http

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?