.product-title,
.category-title {
  color: #212529 !important; /* Cor escura padrão */
  font-size: 1.1rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 12px !important;
  transition: transform 0.2s;
  width: 100%;
}

.category-page .card {
  max-width: none !important;
  margin: 0 !important;
}

.card:hover {
  transform: translateY(-5px);
}

.btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
  transition: all 0.2s ease;
}

/* Efeito hover */
.btn-primary:hover {
  background-color: #0b5ed7 !important;
  border-color: #0b5ed7 !important;
}

/* Opcional: Efeito ao clicar */
.btn-primary:active {
  background-color: #0a58ca !important;
  border-color: #0a58ca !important;
}

footer a:hover {
  color: #0d6efd !important;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

/* Espaçamento entre ícones */
.footer-icon {
  margin: 0 10px;
}

/* Manter footer no fundo da página */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

@media (max-width: 767px) {
  /* Alinha ícones à esquerda */
  .footer .text-start {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* Centraliza links */
  .footer .text-center {
    flex: 0 0 100%;
    max-width: 100%;
    order: 2;
  }
}

.Toastify__toast {
  border-radius: 8px !important;
  font-family: 'Poppins', sans-serif;
}

.product-gallery .main-image {
  position: relative;
  overflow: hidden;
}

.product-gallery .main-image .img-fluid {
  transition: transform 0.3s;
}

.product-gallery .main-image:hover .img-fluid {
  transform: scale(1.03);
}

.thumbnail {
  transition: all 0.2s ease;
  overflow: hidden;
}

.thumbnail:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
